# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
venv/
.venv/

# Node
node_modules/
npm-debug.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.log

# model artifacts
*.joblib
*.pkl
